<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Hello <%= nimi %>!</h1>
    <p>Terve, <%= nimi %>!</p>    
    <img src="/styles/images/abstrakti.jpg">
    <img src="/styles/images/avaruus.jpg">
    <img src="/styles/images/kukka.jpg">
    <img src="/styles/images/talvi.jpg">

</body>

</html>